                     
<html>
<head>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-stock.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-annotations.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <script src="https://cdn.anychart.com/csv-data/msft-daily-short.js"></script>
  <script src="https://cdn.anychart.com/csv-data/orcl-daily-short.js"></script>
  <script src="https://cdn.anychart.com/csv-data/csco-daily-short.js"></script>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://cdn.anychart.com/csv-data/empty_data(2009-2010).js"></script>
  <link href="https://cdn.anychart.com/playground-css/annotated/annotated-title.css" type="text/css" rel="stylesheet">
  <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css?hcode=be5162d915534272a57d0bb781d27f2b" type="text/css" rel="stylesheet">
  <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css?hcode=be5162d915534272a57d0bb781d27f2b" type="text/css" rel="stylesheet">
  <style type="text/css">
				html,
				body,
				#container {
					width: 100%;
					height: 100%;
					margin: 0;
					padding: 0;
				}
</style>
</head>
<body>			
  <div id="container">				
    <div class="container-title">
    </div>
  </div>
<script>
anychart.onDocumentReady(function () {
    data = {{ data | safe }};
    annotations = {{ annotations | safe }};
    chartdefs = {{ chartdefs | safe}};    
    var line = new Array(3)
    
    // create data tables on loaded data
    var msftDataTable = anychart.data.table();
    msftDataTable.addData(get_msft_daily_short_data());
    var orclDataTable = anychart.data.table();
    orclDataTable.addData(get_orcl_daily_short_data());
    var cscoDataTable = anychart.data.table();
    cscoDataTable.addData(get_csco_daily_short_data());
    cscoDataTable.addData(get_empty_data());

    // create stock chart
    var chart = anychart.stock();
    // set chart title
    chart.title('Temperature');
    // set chart padding
    chart.padding([15, 50, 57, 50]);
    // create plot on the chart
    var plot = chart.plot();
    // grid settings
    plot.yGrid(true).xGrid(true).xMinorGrid(true).yMinorGrid(true);

    // format legend items
    plot.legend().itemsFormatter(function (items) {
        items.splice(3, 1);
        // return items array
        return items;
    });
    
    /*
    // create plot series with mapped data
    var ORCL = plot.line(orclDataTable.mapAs({'x': 0, 'value': 4}));
    ORCL.name('ORCL').stroke('#3C8AD8');
    ORCL.tooltip().format(function () {
        return tooltipFormatter(this, false)
    });

    var CSCO = plot.line(cscoDataTable.mapAs({'x': 0, 'value': 4}));
    CSCO.name('CSCO').stroke('#96a6a6');
    CSCO.tooltip().format(function () {
        return tooltipFormatter(this, false)
    });
    */
    
    //var dataSet = anychart.data.set(data[0]);
    var dataSet = anychart.data.table();
    dataSet.addData([
['2016-01-01', 1.0860],
['2016-01-04', 1.0832],
['2016-01-05', 1.078],
['2016-01-06', 1.0781],
['2016-01-07', 1.0936],
['2016-01-08', 1.0932],
['2016-01-11', 1.0860],
['2016-01-12', 1.0857],
['2016-01-13', 1.0877],
['2016-01-14', 1.0865],
['2016-01-15', 1.0917],
['2016-01-18', 1.0893],
['2016-01-19', 1.0909],
['2016-01-20', 1.0891],
['2016-01-21', 1.0874],
['2016-01-22', 1.0797],
['2016-01-25', 1.0849],
['2016-01-26', 1.0872],
['2016-01-27', 1.0893],
['2016-01-28', 1.0939],
['2016-01-29', 1.0837],
['2016-02-01', 1.0889],
['2016-02-02', 1.0919],
['2016-02-03', 1.1104],
['2016-02-04', 1.1208],
['2016-02-05', 1.1159],
['2016-02-08', 1.1198],
['2016-02-09', 1.1293],
['2016-02-10', 1.1290],
['2016-02-11', 1.1324],
['2016-02-12', 1.1260],
['2016-02-15', 1.1155],
['2016-02-16', 1.1144],
['2016-02-17', 1.1128],
['2016-02-18', 1.1107],
['2016-02-19', 1.1135],
['2016-02-22', 1.1029],
['2016-02-23', 1.1020],
['2016-02-24', 1.1013],
['2016-02-25', 1.1023],
['2016-02-26', 1.0934],
['2016-02-29', 1.0873]
  ]);
    var line = plot.line(dataSet.mapAs({'x': 0, 'value': 1}));
      //line[n] = plot.line(dataSet.mapAs());
    line.name('title');
    line.stroke('red');
    line.tooltip().format(function () {
        return tooltipFormatter(this, false)
    });
      
    /*
    for (n=0; n<3; n++) {
      var dataSet = anychart.data.set(data[n]);
      line[n] = plot.line(dataSet.mapAs({'x': 0, 'value': 1}));
      //line[n] = plot.line(dataSet.mapAs());
      line[n].name(chartdefs.charts[n]['title']);
      line[n].stroke(chartdefs.charts[n]['linecolor']);
      line[n].tooltip().format(function () {
        return tooltipFormatter(this, false)
      });
    }
    */
    /*
    var MSFT = plot.candlestick(msftDataTable.mapAs({
        'open': 1,
        'high': 2,
        'low': 3,
        'close': 4
    }));
    MSFT.name('MSFT');
    MSFT.legendItem().iconType('rising-falling');
    MSFT.tooltip().format(function () {
        return tooltipFormatter(this, true)
    });
    */

    /*
    var annotation = plot.annotations();
    // create annotation horizontalLine
    // bottom dashed line
    
    annotation.horizontalLine({
        // X - part of the first anchor
        xAnchor: '2008-08-31',
        // Y - part of the first anchor
        valueAnchor: 14.18,
        // X - part of the second anchor
        secondXAnchor: '2010-01-01',
        // Y - part of the second anchor
        secondValueAnchor: 14.18,
        // set stroke settings
        stroke: {
            thickness: 1,
            color: '#60727B',
            dash: '10 15'
        }
        // disable interaction with Annotation
    }).allowEdit(false);
    // create annotation line
    // top dashed line
    annotation.line({
        // X - part of the first anchor
        xAnchor: '2009-03-01',
        // Y - part of the first anchor
        valueAnchor: 31,
        // X - part of the second anchor
        secondXAnchor: '2010-05-09',
        // Y - part of the second anchor
        secondValueAnchor: 31,
        // set stroke settings
        stroke: {
            thickness: 1,
            color: '#60727B',
            dash: '10 15'
        }
        // disable interaction with Annotation
    }).allowEdit(false);
    // create annotation line
    // top solid line
    annotation.line({
        // X - part of the first anchor
        xAnchor: '2008-08-10',
        // Y - part of the first anchor
        valueAnchor: 28.5,
        // X - part of the second anchor
        secondXAnchor: '2010-01-03',
        // Y - part of the second anchor
        secondValueAnchor: 28.5,
        stroke: '2 #6E9C4E'
        // disable interaction with Annotation
    }).allowEdit(false); 
    */
    chart.container('container');
    // initiate chart drawing
    chart.draw();
});

function tooltipFormatter(item, is_ohlc) {
    if (is_ohlc) {
        return '<br/><br/><span>' + item.seriesName + '</span><br/>' +
            '<span style="color: #ccc">Open</span>: ' + item.open +
            '<br/><span style="color: #ccc">High</span>: ' + item.high +
            '<br/><span style="color: #ccc">Low</span>: ' + item.low +
            '<br/><span style="color: #ccc">Close</span>: ' + item.close;
    } else if (item.seriesName === 'CSCO') {
        var value = item.value;
        if (isNaN(item.value)) {
            value = 'undefined';
        }
        return '<br/><span style="color: #ccc">' + item.seriesName + '</span>: ' +
            value + '<br/>';
    } else {
        return '<span style="color: #ccc">' + item.seriesName + '</span>: ' +
            item.value;
    }
}
</script>
</body>
</html>

                