                     
<html>
<head>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-stock.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-annotations.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <script src="https://cdn.anychart.com/csv-data/msft-daily-short.js"></script>
  <script src="https://cdn.anychart.com/csv-data/orcl-daily-short.js"></script>
  <script src="https://cdn.anychart.com/csv-data/csco-daily-short.js"></script>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://cdn.anychart.com/csv-data/empty_data(2009-2010).js"></script>
  <link href="https://cdn.anychart.com/playground-css/annotated/annotated-title.css" type="text/css" rel="stylesheet">
  <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css?hcode=be5162d915534272a57d0bb781d27f2b" type="text/css" rel="stylesheet">
  <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css?hcode=be5162d915534272a57d0bb781d27f2b" type="text/css" rel="stylesheet">
  <style type="text/css">
				html,
				body,
				#container {
					width: 100%;
					height: 100%;
					margin: 0;
					padding: 0;
				}
</style>
</head>
<body>			
  <div id="container">
				
    <div class="container-title">
					
      <p>See also 
        <a href="https://www.anychart.com/products/anystock/drawing_tools/">Drawing Tools and
							Annotations Demo</a>
      </p>
				
    </div>
			
  </div>
  <script>
anychart.onDocumentReady(function () {
    data = {{ data | safe }};
    annotations = {{ annotations | safe }};
    chartdefs = {{ chartdefs | safe}};    
    var line = new Array(3)

    // create stock chart
    var chart = anychart.stock();
    // set chart title
    chart.title('Temperature');
    // set chart padding
    chart.padding([15, 50, 57, 50]);
    // create plot on the chart
    var plot = chart.plot();
    // grid settings
    plot.yGrid(true)
        .xGrid(true)
        .xMinorGrid(true)
        .yMinorGrid(true);

    // format legend items
    plot.legend().itemsFormatter(function (items) {
        items.splice(3, 1);
        // return items array
        return items;
    });
    
    // create plot series with mapped data
    var ORCL = plot.line(orclDataTable.mapAs({'value': 4}));
    ORCL.name('ORCL').stroke('#3C8AD8');
    ORCL.tooltip().format(function () {
        return tooltipFormatter(this, false)
    });

    var CSCO = plot.line(cscoDataTable.mapAs({'value': 4}));
    CSCO.name('CSCO').stroke('#96a6a6');
    CSCO.tooltip().format(function () {
        return tooltipFormatter(this, false)
    });
    /*
    for (n=0; n<3; n++) {
      var dataSet = anychart.data.set(data[n]);
      line[n] = plot.line(dataSet.mapAs({'value': 1}));
      line[n].name(chartdefs.charts[n]['title']);
      line[n].stroke(chartdefs.charts[n]['linecolor']);
    }
*/
    /*
    var MSFT = plot.candlestick(msftDataTable.mapAs({
        'open': 1,
        'high': 2,
        'low': 3,
        'close': 4
    }));
    MSFT.name('MSFT');
    MSFT.legendItem().iconType('rising-falling');
    MSFT.tooltip().format(function () {
        return tooltipFormatter(this, true)
    });
    */

    /*
    var annotation = plot.annotations();
    // create annotation horizontalLine
    // bottom dashed line
    
    annotation.horizontalLine({
        // X - part of the first anchor
        xAnchor: '2008-08-31',
        // Y - part of the first anchor
        valueAnchor: 14.18,
        // X - part of the second anchor
        secondXAnchor: '2010-01-01',
        // Y - part of the second anchor
        secondValueAnchor: 14.18,
        // set stroke settings
        stroke: {
            thickness: 1,
            color: '#60727B',
            dash: '10 15'
        }
        // disable interaction with Annotation
    }).allowEdit(false);
    // create annotation line
    // top dashed line
    annotation.line({
        // X - part of the first anchor
        xAnchor: '2009-03-01',
        // Y - part of the first anchor
        valueAnchor: 31,
        // X - part of the second anchor
        secondXAnchor: '2010-05-09',
        // Y - part of the second anchor
        secondValueAnchor: 31,
        // set stroke settings
        stroke: {
            thickness: 1,
            color: '#60727B',
            dash: '10 15'
        }
        // disable interaction with Annotation
    }).allowEdit(false);
    // create annotation line
    // top solid line
    annotation.line({
        // X - part of the first anchor
        xAnchor: '2008-08-10',
        // Y - part of the first anchor
        valueAnchor: 28.5,
        // X - part of the second anchor
        secondXAnchor: '2010-01-03',
        // Y - part of the second anchor
        secondValueAnchor: 28.5,
        stroke: '2 #6E9C4E'
        // disable interaction with Annotation
    }).allowEdit(false); 
    */
    chart.container('container');
    // initiate chart drawing
    chart.draw();
});

function tooltipFormatter(item, is_ohlc) {
    if (is_ohlc) {
        return '<br/><br/><span>' + item.seriesName + '</span><br/>' +
            '<span style="color: #ccc">Open</span>: ' + item.open +
            '<br/><span style="color: #ccc">High</span>: ' + item.high +
            '<br/><span style="color: #ccc">Low</span>: ' + item.low +
            '<br/><span style="color: #ccc">Close</span>: ' + item.close;
    } else if (item.seriesName === 'CSCO') {
        var value = item.value;
        if (isNaN(item.value)) {
            value = 'undefined';
        }
        return '<br/><span style="color: #ccc">' + item.seriesName + '</span>: ' +
            value + '<br/>';
    } else {
        return '<span style="color: #ccc">' + item.seriesName + '</span>: ' +
            item.value;
    }
}
</script>
</body>
</html>

                