                     
<html>
<head>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css?hcode=be5162d915534272a57d0bb781d27f2b" type="text/css" rel="stylesheet">
  <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css?hcode=be5162d915534272a57d0bb781d27f2b" type="text/css" rel="stylesheet">
  <style type="text/css">
html, body, #container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
</style>
</head>
<body>
  <div id="container_0" style="width:900px;height:200px"></div>
  <div id="container_1" style="width:900px;height:200px"></div>
  <script>
anychart.onDocumentReady(function () {
    // create data set on our data
    //window.alert("Hello");
    data = {{ data | safe }};
    series = {{ series | safe }}
    colors = {{ colors | safe }}
    yaxis_labels = {{ yaxis_labels | safe }}    
    //debugger;
    var dataSet = anychart.data.set(data);    
    var seriesData = new Array(series.length);
    var chart = new Array(series.length);
    var chartSeries = new Array(seriesData.length)
    
    //n=0;    
    //window.alert(series.length);
       
    
    for (n=0; n<series.length; n++) {       
      //window.alert(n);
      seriesData[n] = dataSet.mapAs({'x': 0, 'value': n+1});
      // create line chart
      chart[n] = anychart.line();

      // turn on chart animation
      chart[n].animation(true);

      // set chart padding
      chart[n].padding([10, 20, 5, 20]);

      // turn on the crosshair
      chart[n].crosshair().enabled(true).yLabel(false).yStroke(null);

      // set tooltip mode to point
      chart[n].tooltip().positionMode('point');

      // set chart title text settings
      chart[n].title(series[n]);

      // set yAxis title
      chart[n].yAxis().title(yaxis_labels[n]);
      chart[n].xAxis().labels().padding(5)

      chartSeries[n] = chart[n].line(seriesData[n]);
      chartSeries[n].name(series[n]);
      chartSeries[n].hovered().markers().enabled(true).type('circle').size(4);
      chartSeries[n].tooltip().position('right').anchor('left-center').offsetX(5).offsetY(5);
      chartSeries[n].stroke(colors[n]);

      // turn the legend on
      //chart[n].legend().enabled(true).fontSize(13).padding([0, 0, 10, 0]);

      // set container id for the chart
      chart[n].container('container_' + n.toString());
      // initiate chart drawing
      chart[n].draw();      
    }
});

</script>
</body>
</html>

                