{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/guestbook.css' %}">
    <title>Guestbook Login</title>
</head>
<body>
<div class="container">
<c><small> charliewp/Guestbook v1.02 uses the GNU GPL v3.0 [v20180725]</small></c>
</div>
{% if message %}
<div class="container">
   <p style="color: red;">
   <h2>{{message}}</h2>
   </p>
/div>
{% endif %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<div class="container">
 <div style="width:100%; padding:10px">
            <div style="width:100%">
                <form name="login" action="/ophouse/login/" method="get">
                    {%csrf_token%}
                    {% for error in form.non_field_errors %}
                    <div class="form-group has-errors text-danger small">
                        {{error}}
                    </div>
                    {% endfor %}
                    <div class="divTable">
                       <div class="divTableBody">
                         <div class="divTableRow">
                            <div class="divTableCell">
                              {% if device == 'Touch' %}
                                <button class="kiosk-touch-primary" style="width:100%">Guestbook Login</button>
                              {% else %}
                                <button class="desktop-primary" style="width:100%">Guestbook Login</button>
                              {% endif %}
                            </div>
                         </div>
                        </div>
                    </div>
                </form>
                <form name="login" action="/ophouse/login/" method="post">
                    {%csrf_token%}
                    {% for error in form.non_field_errors %}
                    <div class="form-group has-errors text-danger small">
                        {{error}}
                    </div>
                    {% endfor %}
                    {% for field in form %}
                      <div class="form-group has-errors text-danger small">
                        {{field.errors}}
                      </div>
                      <div class="form-group has-errors text-danger small">
                      </div>
                      <div class="form-group">
                        {% if device == 'Touch' %}
                                <div class="kiosk-touch-form-control" style="width:37%">{{field}}</div>
                        {% else %}
                                <div class="desktop-form-control" style="width:37%">{{field}}</div>
                        {% endif %}
                      </div>
                    {% endfor %}
                    {% if device == 'Touch' %}
                        <button class="kiosk-touch-success" style="width:100%">Admin Login</button>
                    {% else %}
                        <button class="desktop-success" style="width:100%">Admin Login</button>
                    {% endif %}
                </form>
            </div>
 </div>
</div>
</body
</html>
