{% load staticfiles %}
<html>
<head>
    <title>MeshIO Sensor Network</title>
    <link rel="stylesheet" href="{% static 'css/kanji.css' %}">    
</head>
<body>
<div class="container">
<div class="fixed">
Watching {{nodecount}} nodes working nicely on the network!
</div>
<div class="divTable" style="width:100%">
                                <div class="divTableBody" name="aliasInfo">
                                    {% for name, pctavail in networkstatus %}
                                    <div class="divTableRow">                           
                                        <div class="divTableCell">
                                           {{name}}
                                        </div>
                                        <div class="divTableCell">
                                           {{pctavail}}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
</div>
</div>
</body>
</html>