{% load staticfiles %}
<html>
<head>
    <title>meshio.net</title>
    <link rel="stylesheet" href="{% static 'css/kanji.css' %}"> 
    <script type="text/javascript">
    window.setTimeout("redirectpage();", 30000);    
    function redirectpage(){
    window.top.location.href = '/kanji/customer/{{customerid}}';
    }
</script>    
</head>
<body>
<div class="container">
<div class="fixed">
At {{timestamp}}
</div>
<div class="fixedtable1" style="width:40%">
    <div class="divTableBody" name="aliasInfo">
        <div class="divTableRow">                           
                <div class="divTableCell" style="width:15%">
                    <h3>Node</h3>
                </div>                
                <div class="divTableCell" style="align:center;width:28%">
                    <h3>Cloud Availability</h3>
                </div>
                <div class="divTableCell" style="align:center;width:37%">
                    <h3>Application</h3>
                </div>
        </div>
        {% for node in networkstatus %}
            <div class="divTableRow">                           
                <div class="divTableCell" style="width:15%">
                    {{node.name}}
                </div>                
                <div class="divTableCell" style="align:center;width:28%">
                    {{node.availpct}}
                </div>
                <div class="divTableCell" style="align:center;width:37%">
                    {{node.application}}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</div>
</body>
</html>