{% load staticfiles %}
<html>
<head>
    <title>Survey</title>
--   <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>    
    <link rel="stylesheet" href="{% static 'css/guestbook.css' %}">
<script type="text/javascript">
    window.setTimeout("redirectpage();", 120000);    
    function redirectpage(){
    window.top.location.href = '/ophouse/signin';
    }
</script>
</head>
<body>
<div class="container">
<c><small> charliewp/Guestbook v1.02 uses the GNU GPL v3.0 [v20180725]</small></c>
</div>
{% if message %}
   <p style="color: red;">
   <h2>{{message}}</h2>
   </p>
{% endif %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<div class="container">
            <div style="width:100%; padding:0px">                
                    {% for error in form.non_field_errors %}
                    <div class="form-group has-errors text-danger small">
                        {{error}}
                    </div>
                    {% endfor %}
                    <form action="/ophouse/prompt?connection={{connection}}" method="post">
                    {%csrf_token%}
                    {% for error in form.non_field_errors %}
                    <div class="form-group has-errors text-danger small">
                        {{error}}
                    </div>
                    {% endfor %}                    
                    <div class="divTable" style="padding:5px">
                       <div class="divTableBody">
                         <div class="divTableRow">
                            {% if device == 'Touch' %} <!--HP Envy Touch -->
                              <div class="divTableCell">
                                <button class="kiosk-touch-primary" style="width:100%">Skip Survey/Omitir encuesta</button>
                              </div>
                            {% else %} <!--Desktop -->
                              <div class="divTableCell">
                                <button class="desktop-primary" style="width:100%">Skip Survey/Omitir encuesta</button>
                              </div>
                            {% endif %}
                         </div>
                       </div>
                    </div>
                </form>
                {% if device == 'Touch' %} <!--HP Envy Touch -->
                  <div><kiosk-touch-c3>Help us keep our information current / Ayúdenos a mantener nuestra información actualizada...</kiosk-touch-c3></div>
                {% else %} <!--Desktop -->
                  <div><desktop-c3>Please help us keep our information current / Ayúdenos a mantener nuestra información actualizada...</desktop-c3></div>
                {% endif %}
                    {% for error in form.non_field_errors %}
                    <div class="form-group has-errors text-danger small">
                        {{error}}
                    </div>
                    {% endfor %}
                    <div class="divTable">
                       <div class="divTableBody">
                         <div class="divTableRow">
                           {% if device == 'Touch' %} <!--HP Envy Touch -->
                             <div class="divTableCell">
                               <kiosk-touch-h2>{{survey}}</kiosk-touch-h2>
                             </div>
                           {% else %} <!--Desktop -->
                             <div class="divTableCell">
                               <desktop-h2>{{survey}}</desktop-h2>
                             </div>
                           {% endif %}
                           
                         </div>
                       </div>
                    </div>
                    
                              <!--                                        -->
                              <!-- CharField replacement Prompts are here -->
                              <!--                                        -->
                              <!--                                        -->
                              {% if form.replaceText %} 
                                 <form id="choiceForm" name="charField" action="/ophouse/prompt?connection={{connection}}&prompt={{whichQuestion.pk}}" method="post" >
                                   {%csrf_token%}
                                       <div class="divTable">
                                       <div class="divTableBody">                                   
                                       {% if device == 'Touch' %}
                                          <div class="divTableRow">
                                            <div class="divTableCell">
                                               <div class="form-group" style="width:53%"><div class="kiosk-touch-form-control">{{form.replaceText}}</div></div>
                                            </div>
                                           </div>  
                                           <div class="divTableRow">
                                            <div class="divTableCell">
                                               <button class="kiosk-touch-success" style="width:100%" >Make changes then touch here <br/> Haga los cambios y haga clic aquí</button>
                                            </div>
                                           </div>
                                        {% else %}
                                          <div class="divTableRow">
                                             <div class="divTableCell">
                                               <div class="form-group" style="width:47%"><div class="desktop-form-control">{{form.replaceText}}</div></div>
                                             </div>
                                          </div>
                                          <div class="divTableRow">
                                             <div class="divTableCell">
                                               <button class="desktop-success" style="width:100%" >Make changes then touch here <br/> Haz cambios y toca aquí</button>
                                             </div>
                                          </div>
                                        {% endif %}
                                        </div>
                                        </div>
                                   </form>
                              {% endif %}
                              <!--                                        -->
                              <!-- ChoiceField Prompts are here           -->
                              <!--                                        -->
                              <!--                                        -->
                              {% if form.choiceField %}
                                    <div class="row" style="width:100%;align:top">
                                    {% for choice in form.choiceField.field.choices %}
                                      {% if device == 'Touch' %} <!--HP Envy Touch -->
                                         <div class="cel" style="padding:15px;width=10%">
                                           <form id="choiceForm" action="/ophouse/prompt?connection={{connection}}&amp;prompt={{whichQuestion.pk}}" method="post">
                                             {%csrf_token%}
                                             <input type="radio" name="choiceField" hidden="true" value="{{choice.0}}" checked="checked"/>
                                             <button class="gbcheckbox-inline" style="font-size:32px;">{{choice.1}}</button>
                                           </form>
                                         </div>
                                      {% else %} <!--Desktop -->
                                         <div class="cel" style="padding:5px;width=10%">
                                           <form id="choiceForm" action="/ophouse/prompt?connection={{connection}}&amp;prompt={{whichQuestion.pk}}" method="post">
                                             {%csrf_token%}
                                             <input type="radio" name="choiceField" hidden="true" value="{{choice.0}}" checked="checked"/>
                                             <button class="gbcheckbox-inline" style="font-size:32px;">{{choice.1}}</button>
                                           </form>
                                         </div>
                                      {% endif %}
                                    {% endfor %}
                                    </div>
                              {% endif %}
                              <!--                                        -->
                              <!-- M2M or MultiChoice Prompts are here    -->
                              <!--                                        -->
                              <!--                                        -->
                              {% if form.multiChoice %} 
                                 <!--{{form.multiChoice}}-->
                                 <div class="form-group badge-checkboxes" style="width:100%">
                                 <form id="choiceForm" action="/ophouse/prompt?connection={{connection}}&amp;prompt={{whichQuestion.pk}}" method="post">
                                 {%csrf_token%}
                                 <div class="divTable" style="width:100%">
                                   <div class="divTableBody">
                                     <div class="divTableRow">
                                      {% if device == 'Touch' %} <!--HP Envy Touch -->
                                         <div class="divTableCell" style="width:100%">
                                         <div>
                                           {% for choice_id, choice_label in form.multiChoice.field.widget.choices %}
                                              <label for="id_options_{{ choice_id }}" class="checkbox-inline">
                                                <input  type="checkbox" id="id_options_{{ choice_id }}" value="{{ choice_id }}" name="multichoice" {% if choice_id in form.multiChoice.value  %} checked="checked"{% endif %}/>
                                                <span class="badge" style="font-size:44px;">{{choice_label}}</span>
                                              {{choice}}
                                              </label>
                                           {% endfor %}
                                         </div>
                                        </div>
                                      {% else %} <!--Desktop -->
                                         <div class="divTableCell" style="width:100%">
                                         <div>
                                           {% for choice_id, choice_label in form.multiChoice.field.widget.choices %}
                                              <label for="id_options_{{ choice_id }}" class="checkbox-inline">
                                                <input  type="checkbox" id="id_options_{{ choice_id }}" value="{{ choice_id }}" name="multichoice" {% if choice_id in form.multiChoice.value  %} checked="checked"{% endif %}/>
                                                <span class="badge" style="font-size:44px;">{{choice_label}}</span>
                                              {{choice}}
                                              </label>
                                           {% endfor %}
                                         </div>
                                        </div>
                                      {% endif %}
                                     </div>
                                     <div class="divTableRow">
                                        {% if device == 'Touch' %} <!--HP Envy Touch -->
                                         <div class="divTableCell" style="width:25%">
                                         <button class="kiosk-touch-success" style="width:100%" >Next / Siguiente</button>
                                       </div>
                                      {% else %} <!--Desktop -->
                                         <div class="divTableCell" style="width:25%">
                                         <button class="desktop-success" style="width:100%" >Next / Siguiente</button>
                                       </div>
                                      {% endif %}                                       
                                     </div>
                                   </div>
                                 </div>
                                 </form>
                                 </div>
                              {% endif %}
            </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>