{% load staticfiles %}

<html>
    
<head>
    <title>Service Queues</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/guestbook.css' %}">
    
    
    <script type="text/javascript">
      window.setTimeout("redirectpage();", 10000);    
      function redirectpage(){
      window.top.location.href = '/ophouse/queue?servicetype={{servicetype}}';
    }
    </script>
    <script>
      function clicked() {
      return confirm('Click Ok to Complete, Cancel to go back.');}
    </script>
</head>
<body>
<div class="container">
<c><small> charliewp/Guestbook v1.02 uses the GNU GPL v3.0 [v20180725]</small></c>
</div>
{% if message %}
   <p style="color: red;">
   {{message}}
   </p>
{% endif %}
{% if error %}
   <p style="color: red;">
   {{error}}
   </p>
{% endif %}
<div class="container" >
  <div class="divTable" style="width:100%;padding:10px;">
    <div class="divTableBody">
                         <div class="divTableRow">
                            {% if device == 'Touch' %}
                            <div class="divTableCell" style="padding:10px">
                               <kiosk-touch-c3>Select a queue to watch / Selecciona una cola para mirar</kiosk-touch-c3>
                            </div>
                            {% else %}
                            <div class="divTableCell" style="padding:10px">
                               <desktop-c3>Select a queue to watch / Selecciona una cola para mirar</desktop-c3>
                            </div>
                            {% endif %}
                         </div>
                         <div class="divTableRow">
                            {% if device == 'Touch' %}
                            <div class="divTableCell" style="width:10%">
                                  {% for tup in servicelinks %}
                                    {% if tup.2 == 0 %}
                                      {% if tup.0 == servicetype %}
                                         <a class="btn:hover" href="/ophouse/queue?servicetype={{tup.0}}"><button class="gbcheckbox-watching" style="font-size:32px;">{{tup.1}}<kiosk-button-queuesize>{{ tup.3 }}</kiosk-button-queuesize></button></a>
                                      {% else %}
                                         <a class="btn:hover" href="/ophouse/queue?servicetype={{tup.0}}"><button class="gbcheckbox-inline" style="font-size:32px;">{{tup.1}}<kiosk-button-queuesize>{{ tup.3 }}</kiosk-button-queuesize></button></a>                                       
                                      {% endif %}   
                                    {% endif %}
                                    {% if tup.2 == 1 %}
                                      {% if tup.0 == servicetype %}
                                        <a class="btn:hover" href="/ophouse/queue?servicetype={{tup.0}}"><button class="gbcheckbox-watching" style="font-size:32px;">{{tup.1}}<kiosk-button-queuesize>{{ tup.3 }}</kiosk-button-queuesize></button></a>
                                      {% else %}
                                        <a class="btn:hover" href="/ophouse/queue?servicetype={{tup.0}}"><button class="gbcheckbox-inline-highlight" style="font-size:32px;">{{tup.1}}<kiosk-button-queuesize>{{ tup.3 }}</kiosk-button-queuesize></button></a>                                    
                                      {% endif %}  
                                    {% endif %}    
                                  {% endfor %}
                            </div>
                            {% else %}
                            <div class="divTableCell" style="width:10%">
                                  {% for tup in servicelinks %}
                                    {% if tup.2 == 0 %}
                                      {% if tup.0 == servicetype %}
                                         <a class="btn:hover" href="/ophouse/queue?servicetype={{tup.0}}"><button class="gbcheckbox-watching" style="font-size:32px;color:white;">{{tup.1}}<br><desktop-button-queuesize>{{ tup.3 }}</desktop-button-queuesize></button></a>
                                      {% else %}
                                         <a class="btn:hover" href="/ophouse/queue?servicetype={{tup.0}}"><button class="gbcheckbox-inline" style="font-size:32px;color:white;">{{tup.1}}<br><desktop-button-queuesize>{{ tup.3 }}</desktop-button-queuesize></button></a>                                       
                                      {% endif %}   
                                    {% endif %}
                                    {% if tup.2 == 1 %}
                                      {% if tup.0 == servicetype %}
                                        <a class="btn:hover" href="/ophouse/queue?servicetype={{tup.0}}"><button class="gbcheckbox-watching" style="font-size:32px;color:white;">{{tup.1}}<br><desktop-button-queuesize>{{ tup.3 }}</desktop-button-queuesize></button></a>
                                      {% else %}
                                        <a class="btn:hover" href="/ophouse/queue?servicetype={{tup.0}}"><button class="gbcheckbox-inline-highlight" style="font-size:32px;color:white;">{{tup.1}}<br><desktop-button-queuesize>{{ tup.3 }}</desktop-button-queuesize></button></a>                                    
                                      {% endif %}  
                                    {% endif %}    
                                  {% endfor %}
                            </div>
                            {% endif %}
                         </div>
    </div>                     
  </div>
</div>
<div class="container">
{% csrf_token %}
<div class="divTable" style="width:100%">
                            <div class="divTableBody">
                               {% if queuesize > 0 %}
                               <div class="divTableRow">
                                 {% if device == 'Touch' %}
                                  <div class="divTableCell" style="width:100%;padding:10px">
                                     <c3>{{ queuemessage }} Select client to complete service</c3>
                                     <br>
                                     <c4>(uncheck to remove without applying credits)</c4>
                                  </div>
                                 {% else %}
                                  <div class="divTableCell" style="width:100%;padding:10px">
                                     <desktop-c3>{{ queuemessage }} Select client to complete service</desktop-c3>
                                     <br>
                                     <desktop-c4>(uncheck to remove without applying credits)</desktop-c4>
                                  </div>   
                                 {% endif %}
                               </div>
                               {% endif %}
                               <div class="divTableRow">
                                 {% if device == 'Touch' %}
                                 <div class="divTableCell" style="width:100%">
                                   <div>                                    
                                      {% for choice in form.services.field.choices %}
                                           <div class="cel" style="padding:5px;width=10%">
                                             <form method="post" action="/ophouse/queue?servicetype={{servicetype}}" onsubmit="return clicked();">
                                               {%csrf_token%}
                                               {% if forloop.counter == 1 %}
                                                 <input type="checkbox" id="{{choice.0}}" name="applyCredits" value="yes" checked>
                                                 <input type="radio" name="services" hidden="true" value="{{choice.0}}" checked="checked"/>
                                                 <button class="gbcheckbox-inline-nextup" style="font-size:32px;" >{{choice.1}}</button>
                                               {% else %}
                                                 <input type="checkbox" id="{{choice.0}}" name="applyCredits" value="yes" checked>
                                                 <input type="radio" name="services" hidden="true" value="{{choice.0}}" checked="checked"/>
                                                 <button class="gbcheckbox-inline"  style="font-size:32px;">{{choice.1}}</button>
                                               {% endif %}
                                             </form>
                                           </div>
                                       {% endfor %}
                                    
                                   </div>
                                 </div>
                                 {% else %}
                                 <div class="divTableCell" style="width:100%">
                                   <div>                                    
                                      {% for choice in form.services.field.choices %}
                                           <div class="cel" style="padding:5px;width=10%">
                                             <form method="post" action="/ophouse/queue?servicetype={{servicetype}}" onsubmit="return clicked();">
                                               {%csrf_token%}
                                               {% if forloop.counter == 1 %}
                                                 <input type="checkbox" id="{{choice.0}}" name="applyCredits" value="yes" checked>
                                                 <input type="radio" name="services" hidden="true" value="{{choice.0}}" checked="checked"/>
                                                 <button class="gbcheckbox-inline-nextup" style="font-size:32px;" >{{choice.1}}</button>
                                               {% else %}
                                                 <input type="checkbox" id="{{choice.0}}" name="applyCredits" value="yes" checked>
                                                 <input type="radio" name="services" hidden="true" value="{{choice.0}}" checked="checked"/>
                                                 <button class="gbcheckbox-inline"  style="font-size:32px;">{{choice.1}}</button>
                                               {% endif %}
                                             </form>
                                           </div>
                                       {% endfor %}                                    
                                   </div>
                                 </div>
                                 {% endif %}
                               </div>
                            </div>
</div>
</form>
</div>
</body>
</html>