{% load staticfiles %}
<html>
<head>
    <title>Username Reset</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/guestbook.css' %}">
<script type="text/javascript">
    window.setTimeout("redirectpage();", 120000);    
    function redirectpage(){
    window.top.location.href = '/ophouse/signin';
    }
</script>
</head>
<body>
<div class="container">
<c><small> charliewp/Guestbook v1.02 uses the GNU GPL v3.0 [v20180725]</small></c>
</div>
{% if message %}
   <p style="color: red;padding:10px">
   <div class="container">
      <div style="width:100%; padding:10px">
        {% if device == 'Touch' %} <!--HP Envy Touch -->
          <kiosk-touch-c3>{{message}}</kiosk-touch-c3>
        {% else %} <!--Desktop -->
          <c3>{{message}}</c3>
        {% endif %}        
      </div>
   </div>
   </p>
{% endif %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<div class="container">
            <div style="width:100%; padding:10px">
                <form name="login" action="/ophouse/signin/" method="get">
                    {%csrf_token%}
                    {% for error in form.non_field_errors %}
                    <div class="form-group has-errors text-danger small">
                        {{error}}
                    </div>
                    {% endfor %}
                    <div class="divTable">
                       <div class="divTableBody">
                         <div class="divTableRow">
                            {% if device == 'Touch' %} <!--HP Envy Touch -->
                              <div class="divTableCell">
                                <button class="kiosk-touch-primary" style="width:100%">Go Back / Regresa</button>
                              </div>
                            {% else %} <!--Desktop -->
                              <div class="divTableCell">
                                <button class="desktop-primary" style="width:100%">Go Back / Regresa</button>
                              </div>
                            {% endif %}
                         </div>
                        </div>
                    </div>
                </form>
                <form name="resetalias" action="/ophouse/resetalias/" method="post">
                    {%csrf_token%}
                    {% for error in form.non_field_errors %}
                    <div class="form-group has-errors text-danger small">
                        {{error}}
                    </div>
                    {% endfor %}
                    <div class="divTable">
                       <div class="divTableBody">
                         <div class="divTableRow">
                           {% if device == 'Touch' %}
                              <div class="divTableCell">
                                <div class="form-group" style="width:47%"><div class="kiosk-touch-form-control">{{form.firstname}}</div></div>
                              </div>
                              <div class="divTableCell">
                                <div class="form-group" style="width:70%"><div class="kiosk-touch-form-control">{{form.lastname}}</div></div>
                              </div>
                           {% else %}                              
                              <div class="divTableCell">
                                <div class="form-group" style="width:42%"><div class="desktop-form-control">{{form.firstname}}</div></div>
                              </div>
                              <div class="divTableCell">
                                <div class="form-group" style="width:64%"><div class="desktop-form-control">{{form.lastname}}</div></div>
                              </div>
                           {% endif %}
                         </div>
                       </div>
                       <div class="divTableRow">
                           <div class="divTableCell">
                             <div class="divTable">
                              <div class="divTableBody">
                                 <div class="divTableRow">
                                    {% if device == 'Touch' %}
                                            <div class="divTableCell" style="width:26%">
                                              <div class="form-group" ><div class="kiosk-touch-form-control">{{form.aliasname}}</div></div>
                                            </div>
                                            <div class="divTableCell" style="width:70%;align:left;padding:5px;">
                                              <div class="form-group" ><kiosk-touch-c3>3-12 characters</kiosk-touch-c3></div>
                                            </div>
                                    {% else %}
                                            <div class="divTableCell">
                                              <div class="form-group" style="width:64%" ><div class="desktop-form-control">{{form.aliasname}}</div></div>
                                            </div>
                                            <div class="divTableCell" >
                                              <div class="form-group" style="width:70%"><desktop-c3>3-12 characters</desktop-c3></div>
                                            </div>
                                    {% endif %}
                                 </div>
                              </div>
                             </div>
                           </div>
                           <div class="divTableCell">
                             <div class="divTable">
                              <div class="divTableBody">
                                 {% if device == 'Touch' %}
                                     <div class="divTableCell" style="width:16%">
                                       <div class="form-group" ><div class="kiosk-touch-form-control">{{form.aliaspin}}</div></div>
                                     </div>
                                     <div class="divTableCell" style="width:80%;align:left;padding:5px;">
                                       <div class="form-group" ><kiosk-touch-c3>4 digit PIN</kiosk-touch-c3></div>
                                     </div>
                                   {% else %}
                                     <div class="divTableCell" style="width:20%">
                                       <div class="form-group" ><div class="desktop-form-control">{{form.aliaspin}}</div></div>
                                     </div>
                                     <div class="divTableCell" style="width:80%;align:left;padding:5px;">
                                       <div class="form-group" ><desktop-c3>4 digit PIN</desktop-c3></div>
                                     </div>
                                   {% endif %}
                              </div>
                             </div>
                           </div>
                       </div>
                       <div class="divTableRow">
                           <div class="divTableCell">
                              <div class="divTable">
                              <div class="divTableBody">
                                 <div class="divTableRow">
                                    {% if device == 'Touch' %}
                                       <div class="divTableCell" style="width:2%">
                                         <div class="form-group" ><div class="kiosk-touch-form-control">{{form.shortssn}}</div></div>
                                       </div>
                                       <div class="divTableCell" style="width:70%;align:left;padding:5px;">
                                         <div class="form-group" ><kiosk-touch-c3>last 4 digits of your SSN</kiosk-touch-c3></div>
                                       </div>
                                    {% else %}
                                       <div class="divTableCell" >
                                         <div class="form-group"style="width:70%" ><div class="desktop-form-control">{{form.shortssn}}</div></div>
                                       </div>
                                       <div class="divTableCell" style="width:70%;align:left;padding:5px;">
                                         <div class="form-group" ><desktop-c3>last 4 digits of your SSN</desktop-c3></div>
                                       </div>
                                    {% endif %}
                                 </div>
                              </div>
                             </div>
                           </div>
                           <div class="divTableCell">
                           </div>
                       </div>
                    </div>
                    <div class="divTable">
                       <div class="divTableBody">
                         <div class="divTableRow">
                            {% if device == 'Touch' %} <!--HP Envy Touch -->
                              <div class="divTableCell" style="width:100%">
                               <button class="kiosk-touch-success" style="width:100%" >Reset My Nickname</button>
                              </div>
                            {% else %} <!--Desktop -->
                              <div class="divTableCell" style="width:100%">
                               <button class="desktop-success" style="width:100%" >Reset My Nickname</button>
                              </div>
                            {% endif %}
                         </div>
                       </div>
                    </div>
                </form>
            </div>
</div>
</body>
</html>