{% load staticfiles %}
<html>
<head>
    <title>PigFarm Squealers</title>
    <link rel="stylesheet" href="{% static 'css/kanji.css' %}"> 
    <script type="text/javascript">
      window.setTimeout("redirectpage();", 90000);    
      function redirectpage() {
        window.top.location.href = '/kanji/squealers';
      }
    </script>    
</head>
<body>
<div class="container" style="width:100%;padding:150px 50px;">
<div class="fixedtable1" style="width:40%;">
    <div class="divTableBody" name="aliasInfo">
        <div class="divTableRow">
          <h2>Squeal Alerts (24hrs)</h2>
        </div>
        {% for squeal in squealers %}
            <div class="divTableRow">                           
                <div class="divTableCell" style="width:50%">
                    <h2>{{squeal.location}} {{squeal.time}}</h2>
                </div>
                <div class="divTableCell" style="width:50%">
                    <audio controls >
                      <source src="{% static 'media/' %}{{squeal.tape}}" />
                    </audio>
                </div>                              
            </div>
        {% endfor %}
    </div>
</div>
</div>
</body>
</html>