{% load staticfiles %}
<html>
<head>
    <title>Thank You!</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/guestbook.css' %}">
<script type="text/javascript">
    window.setTimeout("redirectpage();", 3000);    
    function redirectpage(){
    window.top.location.href = '/ophouse/signin/';
    }
</script>
    <title>Thank You</title>
</head>
<body>
<div class="container">
<c><small> charliewp/Guestbook v1.02 uses the GNU GPL v3.0 [v20180725]</small></c>
</div>
<div class="container style="padding-left: 75px;">
<!--<div style="width:100%; padding:10px">-->
<form name="login" action="/ophouse/signin/" method="get">
                    {%csrf_token%}
                    {% for error in form.non_field_errors %}
                    <div class="form-group has-errors text-danger small">
                        {{error}}
                    </div>
                    {% endfor %}
                    <div class="divTable">
                       <div class="divTableBody">
                         <div class="divTableRow">
                            <div class="divTableCell">
                              {% if device == 'Touch' %}
                                <button class="kiosk-touch-primary" style="width:100%">Welcome to Opportunity House!</button>
                              {% else %}
                                <button class="desktop-primary" style="width:100%">Welcome to Opportunity House!</button>
                              {% endif %}
                            </div>
                         </div>
                        </div>
                    </div>
</form>
<div class="divTable" style="padding-left: 75px;">
                {% if device == 'Touch' %} <!--HP Envy Touch -->
                  <kiosk-touch-c3>Thank you! Someone will be with you shortly.<kiosk-touch-c3>
                       <div class="divTableBody">
                         <div class="divTableRow">
                            <div class="divTableCell" style="padding-left: 200px;">
                               <img src="{% static 'images/ophouse_800x452.png' %}" alt="Opportunity House">
                            </div>
                         </div>
                       </div>
                {% else %} <!--Desktop -->
                  <kiosk-touch-c3>Thank you! Someone will be with you shortly.</kiosk-touch-c3>
                       <div class="divTableBody">
                         <div class="divTableRow">
                            <div class="divTableCell" style="padding-left: 300px;">
                               <img src="{% static 'images/ophouse_800x452.png' %}" alt="Opportunity House">
                            </div>
                         </div>
                       </div>
                {% endif %}
</div>
</div>
</body
</html>
