/*!
 * Meshio-Kanji v1.2.0 
 * Copyright 2019
*/
{% load staticfiles %}

div.fixed {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 600px;
  color: #FFF;
  font-family: "Arial";
  font-size: 14px;
  border: 0px solid #73AD21;
}

.transparent_btn {
	display: inline-block;
	padding: 10px 14px;
	color: #FFF;
	border: 1px solid #FFF;
	text-decoration: none;
	font-size: 14px;
	line-height: 120%;
	background-color: rgba(255,255,255, 0);
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	-webkit-transition: background-color 300ms ease;
	-moz-transition: background-color 300ms ease;
	transition: background-color 300ms ease;
	cursor: pointer;
}
.transparent_btn:hover {
	background-color: rgba(255,255,255, 0.3);
	color: #FFF;
}

/* Orange Button */
.transparent_btn.orange {
	color: #00ff5d;
	border-color: #ffc65d;
}
.transparent_btn.orange:hover {
	background-color: rgba(255,255, 255, 0.0);
}

/* Orange Button */
.transparent_btn.green {
	color: #28a745
	border-color: #28a745
}
.transparent_btn.green:hover {
	background-color: rgba(40, 167, 69, 0.5);
}

.transparent_btn.green.checked {
	background-color: rgba(40, 167, 69, 0.9);
}

/* Blue Button */
.transparent_btn.blue {
	color: #aeddf5;
	border-color: #aeddf5;
}
.transparent_btn.blue:hover {
	background-color: rgba(174, 221, 245, 0.3);
}

.transparent_btn.green .checkbox input[type=checkbox]:checked {
  color: #f00;
  font-style: normal;
}

.checkbox-inline input[type=checkbox]:checked {
  color: #f00;
  font-style: normal;
}

.checkbox-inline.enabled {
  color: #006600;
  font-style: normal;
}

.checkbox-inline:hover {
	background-color: rgba(40, 167, 69, 0.9);
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
} 

.checkbox-inline.disabled:hover {
    color: #000000;
	background-color: rgba(40, 167, 69, 0.0);
} 


/*
 * Kiosk Formatting
*/

.kiosk-touch-form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 36px;
  line-height: 1.0;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.kiosk-touch-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  font-size:48px
}

.kiosk-touch-primary-small {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  font-size:24px
}


.kiosk-touch-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.kiosk-touch-primary:focus, .kiosk-touch-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.kiosk-touch-primary.disabled, .kiosk-touch-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.kiosk-touch-primary:not(:disabled):not(.disabled):active, .kiosk-touch-primary:not(:disabled):not(.disabled).active,
.show > .kiosk-touch-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.kiosk-touch-primary:not(:disabled):not(.disabled):active:focus, .kiosk-touch-primary:not(:disabled):not(.disabled).active:focus,
.show > .kiosk-touch-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.kiosk-touch-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  font-size:48px
}

.kiosk-touch-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.kiosk-touch-success:focus, .kiosk-touch-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.kiosk-touch-success.disabled, .kiosk-touch-success:disabled {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.kiosk-touch-success:not(:disabled):not(.disabled):active, .kiosk-touch-success:not(:disabled):not(.disabled).active,
.show > .kiosk-touch-success.dropdown-toggle {
  color: #fff;
  background-color: #1e7e34;
  border-color: #1c7430;
}

.kiosk-touch-success:not(:disabled):not(.disabled):active:focus, .kiosk-touch-success:not(:disabled):not(.disabled).active:focus,
.show > .kiosk-touch-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

kiosk-touch-c3 {
    /*color: #000000;*/
    color: #ffff99;
    font-family: "Arial";
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
}

h2 {
    /* color: #FCA205; */
    color: #ffff99;
    font-family: "Arial";
    font-size: 24
}

kiosk-touch-h2 {
    /* color: #FCA205; */
    color: #ffff99;
    font-family: "Arial";
    font-size: 48
}

kiosk-graphlegend {
    /*color: #000000;*/
    color: #ffff99;
    font-family: "Arial";
    font-size: 24;
    font-weight: bold;
    font-style: italic;
}

c3 {
    /*color: #000000;*/
    color: #ffff99;
    font-family: "Arial";
    font-size: 12;
    font-weight: bold;
    font-style: italic;
}

c4 {
    /*color: #000000;*/
    color: #ffff99;
    font-family: "Arial";
    font-size: 10;
    font-weight: bold;
    font-style: italic;
}

kiosk-button-points {
    /*color: #000000;*/
    color: #999;
    font-family: "Arial";
    font-size: 24;
    font-weight: bold;
    font-style: italic;
}

kiosk-button-queuesize {
    /*color: #000000;*/
    color: #FFFFFF;
    font-family: "Arial";
    font-size: 16;
    font-weight: bold;
    font-style: italic;
}



/*
 * Desktop Formatting
*/
desktop-button-points {
    /*color: #000000;*/
    color: #999;
    font-family: "Arial";
    font-size: 18;
    font-weight: bold;
    font-style: italic;
}

desktop-button-queuesize {
    /*color: #000000;*/
    color: #FFFFFF;
    font-family: "Arial";
    font-size: 16;
    font-weight: bold;
    font-style: italic;
}

.desktop-form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 32px;
  line-height: 1.0;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.desktop-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  font-size:48px
}

.desktop-primary-small {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  font-size:24px
}

.desktop-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.desktop-primary:focus, .desktop-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.desktop-primary.disabled, .desktop-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.desktop-primary:not(:disabled):not(.disabled):active, .desktop-primary:not(:disabled):not(.disabled).active,
.show > .desktop-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.desktop-primary:not(:disabled):not(.disabled):active:focus, .desktop-primary:not(:disabled):not(.disabled).active:focus,
.show > .desktop-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.desktop-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  font-size:48px
}

.desktop-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.desktop-success:focus, .desktop-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.desktop-success.disabled, .desktop-success:disabled {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.desktop-success:not(:disabled):not(.disabled):active, .desktop-success:not(:disabled):not(.disabled).active,
.show > .desktop-success.dropdown-toggle {
  color: #fff;
  background-color: #1e7e34;
  border-color: #1c7430;
}

.desktop-success:not(:disabled):not(.disabled):active:focus, .desktop-success:not(:disabled):not(.disabled).active:focus,
.show > .desktop-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

desktop-c3 {
    /*color: #000000;*/
    color: #ffff99;
    font-family: "Arial";
    font-size: 24;
    font-weight: bold;
    font-style: italic;
}

desktop-c4 {
    /*color: #000000;*/
    color: #ffff99;
    font-family: "Arial";
    font-size: 16;
    font-weight: bold;
    font-style: italic;
}

desktop-h2 {
    /* color: #FCA205; */
    color: #ffff99;
    font-family: "Arial";
    font-size: 48
}

desktop-graphlegend {
    /*color: #000000;*/
    color: #ffff99;
    font-family: "Arial";
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}





.gbbadge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #777;
    border-radius: 10px;
}

.gbbadge-next {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #777;
    border-radius: 10px;
}

/* the much sought after, ChoiceField rendering magic */

.gbcheckbox-inline {
    display: inline-block;
    background-color: #f4c242;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5;
    font-weight: 400;
    vertical-align: top;
    cursor: pointer;
    border-radius: 8px;
    font-family: "Arial";
    font-size: 10
}

.gbcheckbox-inline-nextup {
    display: inline-block;
    background-color: #4CAF50;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5;
    font-weight: 400;
    vertical-align: top;
    cursor: pointer;
    border-radius: 8px;
    font-family: "Arial";
    font-size: 10
}

.gbcheckbox-watching {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    padding-bottom: 15px;    
    margin-bottom: 5px;
    font-weight: 400;
    vertical-align: top;
    cursor: pointer;
    border-radius: 8px;
    font-family: "Arial";
    font-size: 10
}

.gbcheckbox-inline-highlight {
    display: inline-block;
    background-color: FFFFFF; /*90C3D4;*/
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
   /* font-weight: 400;*/
    font-weight: bold;
    vertical-align: top;
    cursor: pointer;
    border-radius: 8px;
    font-family: "Arial";
    font-size: 10
}

.gbcheckbox-inline:hover  {
    background-color: #4CAF50;
    color: white;
}

small {
    font-family: "Arial";
    color: #ffff99;
    font-size: smaller;
}

notavailable {
    font-family: "Arial";
    color:#8a8a5c;
    font-size: smaller;
}

h3 {
    /* color: #FCA205; */
    color: #ffff99;
    font-family: "Arial";
    font-size: 20
}



h1 {
    /* color: #FCA205; */
    color: #ffff99;
    /*font-family: "Impact, Charcoal, sans-serif";*/
    /*font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;*/
    font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
    font-size: 40
}

h1 a {
    /* color: #FCA205; */
    color: #ffff99;
    font-family: "Arial";
    font-size: 20
}

help {
    /*color: #000000;*/
    color: #ffff99;
    font-family: "Arial";
    font-size: 12
    font-weight: bold;
}

label {
    /*color: #000000;*/
    color: #ffff99;
    font-family: "Arial";
    font-size: 12
    font-weight: bold;
    padding: 5px;
}

tr td help2 {
    /*color: #000000;*/
    color: #ffff99;
    font-family: "Arial";
    font-size: 2
    font-weight: bold;
}

c {
    /*color: #000000;*/
    color: #ffff99;
    font-family: "Courier";
    font-size: 2
    font-weight: italic;
    text-align: bottom;
}

cb {
    /*color: #000000;*/
    color: #ffff99;
    font-family: "Arial";
    font-size: 12
    font-weight: bold;
}




td a {
    /*color: #000000;*/
    color: #ffff99;
    font-family: "Arial";
    font-size: 12
    font-weight: bold;
}

tr td a {
    /*color: #000000;*/
    color: #ffff99;
    font-family: "Arial";
    font-size: 8
    padding: 0px;
}

body {
   /*image files are in css/images folder*/
   background: url("images/meshio.png") repeat;    
    padding-left: 0px;
}

table, th, td {
   border: 0px solid black;
   text-align: bottom;
   padding:0px;
}

tr {
   text-align: top;
}

td {
    padding: 0px;
}

.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}

.badge-checkboxes .checkbox input[type="checkbox"],
.badge-checkboxes label.checkbox-inline input[type="checkbox"] {
    /*  Hide the checkbox, but keeps tabbing to it possible. */
    position: absolute;
    /*clip: rect(0 0 0 0);*/
    border-radius: 50px;
}

.badge-checkboxes .checkbox label,
.badge-checkboxes label.checkbox-inline {
    padding-left:0; /* Remove space normally used for the checkbox */
}

.badge-checkboxes .checkbox input[type="checkbox"]:checked:focus + .badge,
.badge-checkboxes label.checkbox-inline input[type="checkbox"]:checked:focus + .badge {
    box-shadow:0 0 2pt 1pt #333;  /* Outline when checkbox is focused/tabbed to */
}

.badge-checkboxes .checkbox input[type="checkbox"]:focus + .badge,
.badge-checkboxes label.checkbox-inline input[type="checkbox"]:focus + .badge {
    box-shadow:0 0 2pt 1pt #999;  /* Outline when checkbox is focused/tabbed to */
}

.badge-checkboxes .checkbox input[type="checkbox"] + .badge,
.badge-checkboxes label.checkbox-inline input[type="checkbox"] + .badge {
    border:1px solid #999; /* Add outline to badge */
    
    /* Make text in badge not selectable */
   -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Give badges for disabled checkboxes an opacity of 50% */
.badge-checkboxes .checkbox input[type="checkbox"]:disabled + .badge,
.badge-checkboxes label.checkbox-inline input[type="checkbox"]:disabled + .badge
{
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
   filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
   opacity: 0.5;   
   cursor:not-allowed
}

/* Remove badge background-color and set text color for not checked options */
.badge-checkboxes .checkbox input[type="checkbox"]:not(:checked) + .badge,
.badge-checkboxes label.checkbox-inline input[type="checkbox"]:not(:checked) + .badge{
    background-color:Transparent;
    color:#999;
}

/*The following css only required for Bootstrap <= 3.1.0 */
.badge-checkboxes .checkbox {
    padding-left:0; /* Remove space normally used for the checkbox */
}
.badge-checkboxes .disabled label,
.badge-checkboxes label.checkbox-inline.disabled {
    cursor:not-allowed
}

.input-group .form-control.form-control-selectpicker {
    padding: 0;
}
.input-group .form-control.form-control-selectpicker > .btn-group.bootstrap-select {
    width: 100%;
}
.input-group .form-control.form-control-selectpicker .btn-group .btn {
    border: 0;
}

/* The following CSS not required for the badge styled checkboxes: */
section + section  {
    margin-top:20px;
}

label + .checkbox  {
    margin-top:0;   
}

h2 {
 font-size:18px;   
 font-weight:bold;
}

/* DIV TABLES */

.divTable{
	display: table;
	width: 100%;
    vertical-align: middle;
}
.divTableRow {
	display: table-row;
    vertical-align: middle;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 0px solid #999999;
	display: table-cell;
	padding: 0px 0px;
    vertical-align: middle;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

/* RADIO BUTTONS*/

label.btn span {
  font-size: 1.5em ;
}

label input[type="radio"] ~ i.fa.fa-circle-o{
    color: #c8c8c8;    display: inline;
}
label input[type="radio"] ~ i.fa.fa-dot-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
    color: #7AA3CC;    display: inline;
}
label:hover input[type="radio"] ~ i.fa {
/* color: #7AA3CC;*/
color: #FFFFFF;
}

label input[type="checkbox"] ~ i.fa.fa-square-o{
    color: #c8c8c8;    display: inline;
}
label input[type="checkbox"] ~ i.fa.fa-check-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
    color: #7AA3CC;    display: inline;
}
label:hover input[type="checkbox"] ~ i.fa {
color: #7AA3CC;
}

div[data-toggle="buttons"] label.active{
    color: #FFFFFF; 
}

div[data-toggle="buttons"] label {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 2em;
text-align: left;
white-space: nowrap;
vertical-align: top;
cursor: pointer;
background-color: none;
border: 0px solid 
#c8c8c8;
border-radius: 3px;
color: #c8c8c8;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

div[data-toggle="buttons"] label:hover {
color: #7AA3CC;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
-webkit-box-shadow: none;
box-shadow: none;
}

/*Bootstrap Radio Buttons*/

.checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff; }

.radio {
  padding-left: 20px; }
  .radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .radio label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out; }
    .radio label::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
      left: 3px;
      top: 3px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: #555555;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
  .radio input[type="radio"] {
    opacity: 0; }
    .radio input[type="radio"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .radio input[type="radio"]:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1); }
    .radio input[type="radio"]:disabled + label {
      opacity: 0.65; }
      .radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
  .radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
  background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #428bca; }

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c; }

  /* table row */
.tbl { display: table; }
.row { display: table-row; }
.cel { display: table-cell; }
.cpt {
    display: table-caption;
    text-align: center;
}
.thc {
    display: table-cell;
    background-color:#f2e8da;
    text-align: center;
    font-weight: bold;
}

  
/* new button */

.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 5px 5px;
    font-size: 12px;
    cursor: pointer;
}

/* Green */
.success {
    border-color: #4CAF50;
    color: green;
}

.success:hover {
    background-color: #4CAF50;
    color: white;
}

/* Blue */
.info {
    border-color: #2196F3;
    color: dodgerblue
}

.info:hover {
    background: #2196F3;
    color: white;
}

/* Orange */
.warning {
    border-color: #ff9800;
    color: orange;
}

.warning:hover {
    background: #ff9800;
    color: white;
}

/* Red */
.danger {
    border-color: #f44336;
    color: red
}

.danger:hover {
    background: #f44336;
    color: white;
}

/* Gray */
.default {
    border-color: #e7e7e7;
    color: black;
}

.default:hover {
    background: #e7e7e7;
}







